.snapshot-wrapper{
    padding: clamp(0.1rem, 4vw, 6rem);
}

.title-light{
font-size: 0.7em;
padding-left: 2rem;
}

.title-dark{
    font-size: 1em;
    padding-left: 2rem;
}

.card-title{
    font-size: clamp(1.3rem, 3vw, 2rem);
     background: var(--gradient-one);
    color: #595858;
 font-family: "DM Sans", sans-serif;
 line-height: 0;
}

.card-text{
    color: #7B7979;
    font-size: 0.8em;
    line-height: 0.5;
    /* padding: 0;
    margin: 0; */
     font-family: "DM Sans", sans-serif;
}

/* .socials{
    display: none;
} */

.social-contact-container{
    display: flex;
    gap: clamp(2rem, 6vw, 4rem);
    /* background-color: #595858; */
    width: 100%;
}
