.hero-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, rgba(221, 171, 228, 0.855), rgba(183, 164, 227, 0.79));
  
}

.hero-wrapper{
    padding-inline: 5rem;
    display: flex;
    /* flex-wrap: wrap;
    margin: auto; */
    font-size: clamp(10px, 1.5vw, 16px);
   
    

}

.word-art{
    display: flex;

}

.giant-m{
    font-size: 25em;
/* font-size: clamp(10rem, 30vw, 25rem); */
font-family: "Poppins", sans-serif;
font-weight: 900;
margin: 0;
line-height: 1;
/* background: var(--gradient-color);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

background: var(--gradient-one);
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 5px rgba(252, 250, 250, 0.315); 

}

.name{
font-size: 4.5em;
    /* font-size: clamp(2.5rem, 30vw, 4.5rem); */
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color:white
    
}

.forename{
    /* transform: rotate(-90deg); */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 1.2;
    margin-block: 0;
    /* display: flex;
    justify-content: flex-end; */
    margin-top: 3rem;
    
}

.hook{
    font-weight: 400;
    font-size: 2.5em;
    line-height: 0.6;
    

   

}

.intro{
    font-weight: 500;
    font-size: 2em;
    color: white;
    line-height: 0.5;
}

.last-name{
    line-height: 0.3;
    margin-top: 1rem;

}

.column-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    
}

@media (max-width: 880px) {
  .hero-wrapper{
    flex-direction: column;
    margin: auto;
    padding-block-start: 4rem;
    
  }

  .forename{
    margin-top: 2rem;
  }

  .word-art{
    margin: 0;
  }

  .giant-m{
    line-height: 0.7;
  }
}

/* @media (max-width: 480px){
    .giant-m{
        font-size: 15em;
    }

    .name{
        font-size: 3em;
    }

    .intro{
        font-size: 1.5em;
    }

    .hook{
        font-size: 1.8em;
    }
} */