
.section {
  padding-block: var(--section-padding);
  min-height: 100vh;
  /* background-color: violet; */
  overflow: hidden;
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: clamp(0.2rem, 8vw, 5rem);
  padding-inline: clamp(0.1rem, 4vw, 4rem);
  /* padding: 6rem; */
  /* background-color: tan; */

}

::selection {
  background-color: #E0EFF4;
    color: #111;
}