.title-light{
/* font-size: 0.3em; */
/* font-family: "Playfair Display", serif; */
/* font-family: "Poppins", serif; 
font-style: italic;
color:rgb(0, 0, 0);
font-weight: 200;  */
/* padding-left: 2rem;*/
}

.title-dark{
    font-size: 1em;
    /* padding-left: 2rem; */
}

.email-section{
display:grid;
      grid-template-columns: repeat(2, 1fr);

}

.contact-links{
  display:flex;
  gap: 1rem;
}

/* .contact-form{
  position: relative;
}

.contact-form::before{
 content: "";
  position: absolute;
  top: 0;
  left: -4rem;
  width: 4px;       
  height: 100%;     

  background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
} */
.message-box{
  position: relative;
  padding-left: 20px;
  padding-block: 1rem;

  
}



.message-box::before{
 content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 2px;       /* thickness of the border */
  height: 100%;     /* full height */

  background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
  /* background: var(--gradient-black) ; */
}


.row{

  display: flex;
  align-items: center;
  gap: 10px;

}
.recipient-mail{
    background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );

  border-radius: 100px;
  height: fit-content;
  width: fit-content;
  color: white;

  padding: 5px 10px;  

  border: none;

  outline: none;
  font-family: "Montserrat", serif;
  font-size: 0.8rem;
 
}

.input-box{
  padding: 5px 10px;
  
  border-radius: 100px;
  
  

  font-size: 0.8rem;






  border-radius: 100px;
  height: fit-content;
  width: 250px;
}

.input-box input{
  
outline: none;
border: none;
width: 100%;

  font-family: "Montserrat", serif;
}


.input-box input:focus{
    outline: none;
  border: none;
  box-shadow: none;
}


.senders-mail{
 

    background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );

 

  
}

.senders-mail input{
background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );

  color: white;
}

.senders-mail input::placeholder {
  color: white;
}
.subject{
background-color: white;
position: relative;
 border-radius: 100px;
width: 300px;

}

.subject input{
  font-weight: bolder;
  /* width: 300px;
  padding-inline: 10px; */
  width: 100%;
  padding: 5px 10px;
   box-sizing: border-box;
  
}

.subject::before{
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
   pointer-events: none;

  border-radius: 100px;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

textarea{
  border: none;
  outline: none;
background: transparent;
width: 100%;
padding: 10px 0;
/* border-bottom: 2px solid #ccc; */
font-size: 1em;
  font-family: "Montserrat", serif;
  overflow: auto;
font-weight: 600;
  /* Firefox */
  scrollbar-width: none;

  /* IE + Edge */
  -ms-overflow-style: none;
  
}


textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

textarea::placeholder{
font-size: 1em;
  font-family: "Montserrat", serif;
 
}

.contact-section{
  /* background: var(--gradient-fade-white); */
  /* background: var(--gradient-subtle); */
}

.contact-wrapper{
    display: flex;
   flex-wrap: wrap;

}

/* .title-light{
font-size: 0.7em;
padding-left: 2rem;
}

.title-dark{
    font-size: 1em;
    padding-left: 2rem;
} */



.sticky-note{
    width: 400px;
    height: auto;
    position: relative;
    transform:rotateY(180deg);
    
    
}

.sticky-note::after{
    content: "";
    background-image: url("https://www.svgrepo.com/show/533306/send.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

 .note-container{
    position: relative;
    transform: rotate(-3deg);
    


}

.send-button{
    position:absolute;
    top: 61%;
    left: 24%;
    height: 45px;
    width: 45px;
    transition: 1s ease;
}

.send-button:hover{
 transform: scale(0.9);
 cursor: pointer;
}

.note-input{
    transform: rotate(2deg);
    position: absolute;
    top: 40%;
    left: 12%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    height: 120px;
    width: 150px;
    resize: none;
    
}

.note-input:focus {
    border: none; 
    outline: none; 
  } 

.sticky-wall{
  display:grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(4, 60px);
  gap:clamp(2rem, 5vw, 10rem);
  padding:40px;
  justify-content:center;
  grid-auto-flow: column;

  
}

.note{
  width:60px;
  height:60px;
  position:relative;
  cursor:pointer;

 
  transition: transform 0.6s;
  perspective:1000px;
}

.note-inner{
  position:relative;
  width:100%;
  height:100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.note-front,
.note-back{
  position:absolute;
  width: 100%;
  height: 100%;

  /* inset:0; */

  backface-visibility:hidden;

  display:flex;
  align-items:center;
  justify-content:center;
}

.note-front{

  /* background:#d4bbf9; */
  /* background-image: 
    linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.05)); */
    background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
  color: white;
}

.note-back{
  background:#e8dafc;
  transform: rotateY(180deg);
}

/* .note p{
  font-size:8px;
  opacity:0;
  transition:opacity 0.2s;
} */

.note:hover .note-inner{
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
  transform: rotateY(180deg) scale(1.5);
  z-index:10;

}



/* .note:hover p{
  opacity:1;
  font-size:14px;
} */

/* .note:hover{
  transform:scale(4) rotate(0deg);
} */

/* .note:hover{
  transform: rotateY(180deg) scale(1.2);
} */

.note:nth-child(odd){
  transform: rotate(-3deg);
}

.note:nth-child(even){
  transform: rotate(2deg);
}

.note:nth-child(3n){
  transform: rotate(-1deg);
}


/* .note:nth-child(3n+1) .note-front{
  background:#cac9cc;
  
}

.note:nth-child(3n+2) .note-front{
  background:#7c7c7c;
}

.note:nth-child(3n+3) .note-front{
  background:#676768;
}

.note:nth-child(3n+4) .note-front{
  background:#dbdbdc;
} */



.note-front::after{
  content:"";
  position:absolute;
  bottom:0;
  right:0;
  border-width:0 0 25px 25px;
  border-style:solid;
  border-color:transparent transparent rgba(0,0,0,0.1) transparent;
}

/* .note-back::after{
  content:"";
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:0;
  border-style:solid;
  border-width:0 0 18px 18px;
  border-color:transparent transparent rgba(0,0,0,0.15) transparent;
} */




/* tape */

/* .note-front::before{
  content:"";
  position:absolute;
  width:24px;
  height:10px;
  background:rgba(255,255,255,0.65);
  top:-6px;
  left:50%;
  transform:translateX(-50%) rotate(-3deg);
  border-radius:2px;
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
  z-index:5;
} */

.note-front::before{
  content:"";
  position:absolute;
  width:20px;
  height:8px;
  background:rgba(255,255,255,0.7);
  top:-4px;
  left:50%;
  transform:translateX(-50%);
}


.note-front p{
  font-size:10px;
  font-weight:500;
  text-align:center;

  padding:4px;

  overflow:hidden;
  text-overflow:ellipsis;

  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;

  line-height:1.1;
}

.note p{
    font-size: 12px;
    text-align: center;
    
}

.note-back p{
    font-size:9px;
  line-height:1.2;

  padding:4px;
  text-align:center;

  overflow:hidden;
  word-break:break-word;
   text-shadow:
    0 1px 0 rgba(255,255,255,0.8),
    0 2px 2px rgba(0,0,0,0.15),
    0 4px 6px rgba(0,0,0,0.15);

  transform:translateZ(10px);

}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.contact-wheel{
  display: grid;
       grid-template-columns: repeat(3, 50px);
       grid-template-rows: repeat(3, 50px);
       gap: 10px;
margin: 4rem;

        

}

.circle-link{
  /* background: var(--gradient-light); */
   background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-link i {
  font-size: 24px;
  color: white;
  
}

.contact-wheel a{
  text-decoration: none;
}

.circle-link:nth-child(1),
.circle-link:nth-child(3),
.circle-link:nth-child(7),
.circle-link:nth-child(9) {
 
  background: var(--gradient-light);
  width: 30px;
  height: 30px;
}

.grid-item {
  display: flex;
}

.circle-link:nth-child(1) { justify-self: end; align-self: end; }
.circle-link:nth-child(3) { justify-self: start; align-self: end; }
.circle-link:nth-child(7) { justify-self: end; align-self: start; }
.circle-link:nth-child(9) { justify-self: start; align-self: start; }

.connect{
  position: relative;
  letter-spacing: 20px;
  /* background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );

  -webkit-background-clip: text;
  background-clip: text; */
  color: transparent;
  text-transform: uppercase;
  font-size: 1.2em;

}

.connect::before{
  content: "";
   background: linear-gradient(
    135deg,
    #6b2cf5,
    #d450e6,
    #6db3fc
  );
  z-index: -2;
  inset: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* .connect:before{
content: "CONNECT";

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;

} */

/* .grid-item:nth-child(1) .circle-link  ,
.grid-item:nth-child(3) .circle-link,
.grid-item:nth-child(7) .circle-link,
.grid-item:nth-child(9) .circle-link {
 width: 10px;
 height: 10px;
} */

@media (max-width: 768px) {
  .email-section {
    /* grid-template-columns: 1fr;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form{
    margin-inline:  0.5rem; 
  }
}