/* 

.logos{


    display: flex;
     gap: 20px;
    justify-content: flex-start;
    margin: 0;

}

.logo{
  height: 40px;
  width: auto;
  margin: 10px;
  padding: 2px;
  
  
  
}


.social-icons{
    background: var(--gradient-light);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
    display: flex;
   
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out, transform 0.5s ease-in;
}

.social-icons:hover{
    background: var(--gradient-color);
    transform: scale(1.1);
    cursor: pointer;




}

.social-icons:hover .logo {
    transform: scale(1.1);
     
   
}
 */


 .logos{
  display: flex;
  gap: clamp(0.5rem, 2vw, 1.2rem);
  justify-content: flex-start;
}

.logo{
  width: 50%;
  height: 50%;
}

.social-icons{
  background: var(--gradient-light);
  width: clamp(2rem, 4vw, 3rem);
  height: clamp(2rem, 4vw, 3rem);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.3s ease-in-out, transform 0.5s ease-in;
}

.social-icons:hover{
  background: var(--gradient-color);
  transform: scale(1.1);
  cursor: pointer;
}