:root {
  --max-width: 1200px;
  --section-padding: 4rem;
  --text-primary: #111;

  --gradient-color: linear-gradient(to bottom, #6b2cf5, #d450e6, #6db3fc);
  --gradient-one: linear-gradient(to bottom, #6b2cf5, #d450e6);
}


*{
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0;
}

h1 { font-size: clamp(2rem, 5vw, 3rem); }
h2 { font-size: 2rem; }
p  { font-size: 1rem; line-height: 1.6; }