:root {
  --max-width: 1200px;
  --section-padding: 4rem;
  --text-primary: #111;

  --gradient-color: linear-gradient(to bottom, #6b2cf5, #d450e6, #6db3fc);
  --gradient-one: linear-gradient(to bottom, #6b2cf5, #d450e6);
  /* --gradient-black: conic-gradient(from 180deg, #000000, #666666); */
  --gradient-black: conic-gradient(from 180deg, #000000,#4d4d4d,#666666, #aaa1a1);
}


*{
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0;
}

h1 { font-size: clamp(2rem, 5vw, 3rem); }
h2 { font-size: clamp(1rem, 3vw, 2rem);}
p  { font-size: clamp(0.8rem, 2vw, 1.1rem);line-height: 1.6; }